<html>
<body>
  <p>Dear Team,</p>

  <p>Please find attached the defect report and bad images report for review.</p>

  <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%; text-align: center;">
    <tr>
      <th>Machine No</th>
      <th>Drawing Frame</th>
      <th>Material</th>
      <th>Material Color</th>
      <th>Date Time</th>
    </tr>
    <tr>
      <td>{machine_no}</td>
      <td>{frame_no}</td>
      <td>{material}</td>
      <td>{color}</td>
      <td>{datetime}</td>
    </tr>
  </table>

  <p><br>Best Regards,<br>TEXA INNOVATES</p>
</body>
</html>